p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 350px;
    height: 100px;
    background-color: orange;
}

div {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

div {
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
  }
